PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/hackforge
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=30d
CLIENT_URL=http://localhost:5173
ORGANIZER_ACCESS_CODE=ORG-HACKFORGE-2026
JUDGE_ACCESS_CODE=JDG-HACKFORGE-2026
